@charset "utf-8";
/* CSS Document */
	

		#nav
		{
			width: 60em; /* 1000 */
			font-family: 'Open Sans', sans-serif;
			font-weight: 100;
			position: absolute;
			font-size:12px;
			min-width:1000px;
			
			/*left: 50%;
			margin-left: -30em; /* 30 480 */*/
		}

			#nav > a
			{
				display: none;
				
			}

			#nav li
			{
				list-style:none;
				position: relative;
			}
				#nav li a
				{
					color:#3d5f96;
					text-decoration:none;
					
					display: block;
				}
				#nav li li a{color:#fff;}
				#nav li li{width:100%;}
				#nav li a:active
				{
					background-color: #3d5f96 !important;
					color: #fff!important;
				}

			#nav span:after
			{
				width: 0;
				height: 0;
				border: 0.313em solid transparent; /* 5 */
				border-bottom: none;
				border-top-color: transparent;
				content: '';
				vertical-align: middle;
				display: inline-block;
				position: relative;
				right: -0.313em; /* 5 */
			}

			/* first level */

			#nav > ul
			{
				height: 3.75em; /* 60 */
				background-color: #fff;
			}
				#nav > ul > li
				{
					width: 20%;
					height: 100%;
					float: left;
				}
					#nav > ul > li > a
					{
						height: 100%;
						font-size: 1.2em; /* 24 */
						line-height: 2.5em; /* 60 (24) */
						text-align: left;/*level 1 */
						padding-left:10px;/*level 1 */
					}
						#nav > ul > li:not( :last-child ) > a
						{
							border-right: 0px solid #3d5f96;
						}
						#nav > ul > li:hover > a,
						#nav > ul:not( :hover ) > li.active > a
						{
							background-color: #3d5f96;
							color:#fff;
						}


				/* second level */

				#nav li ul
				{
					background-color: #3d5f96;
					display: none;
					position: absolute;
					top: 100%;
					padding-left: 0!important;
					
				}
					#nav li:hover ul
					{
						display: block;
						left: 0;
						right: 0;
						
					}
						#nav li:not( :first-child ):hover ul
						{
							left: 0px;
						}
						#nav li ul a
						{
							font-size: 1.20em; /* 20 */
							text-align: center;
							padding-left: 0.1em;
							padding-right: 0.1em;
							padding-top: 0.7em;
							padding-bottom: 0.7em; /* 15 (20) */
							text-align: left;/*level 1 */
							padding-left:10px;/*level 1 */
						}
							#nav li ul li a:hover,
							#nav li ul:not( :hover ) li.active a
							{
								background-color: #506fa0;
								color:#fff;
							}


		@media only screen and ( max-width: 62.5em ) /* 1000 */
		{
			#nav
			{
				width: 100%;
				position: static;
				margin: 0;
			}
		}

		
