/*VARIABLES*/
/* line 12, ../scss/cdmStylesCustom.scss */
body, html {
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #545454;
  font-style: normal;
}

/* line 18, ../scss/cdmStylesCustom.scss */
body,
p,
ul,
ol,
dl,
div {
  font-weight: normal;
  font-size: .75rem;
}

/* line 28, ../scss/cdmStylesCustom.scss */
h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #545454;
  font-style: normal;
  text-decoration: none;
}

/* line 36, ../scss/cdmStylesCustom.scss */
h2,
h2 a,
h2 a:hover,
h2 a:visited {
  font-size: 1.0rem;
  font-weight: bold;
  color: #2178B5;
  font-style: normal;
  text-decoration: none;
}

/* line 47, ../scss/cdmStylesCustom.scss */
h3 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #545454;
  font-style: normal;
  text-decoration: none;
}

/* line 56, ../scss/cdmStylesCustom.scss */
a,
a#filter-by-collection-cancel-button {
  font-size: .75rem;
  font-weight: normal;
  color: #2178B5;
  font-style: normal;
  text-decoration: none;
}

/* line 66, ../scss/cdmStylesCustom.scss */
a:hover,
a#filter-by-collection-cancel-button {
  color: #2178B5;
  text-decoration: underline;
}

/* line 72, ../scss/cdmStylesCustom.scss */
a:visited,
a#filter-by-collection-cancel-button {
  color: #609;
}

/* line 77, ../scss/cdmStylesCustom.scss */
.search-clear-query-button {
  color: #cccccc;
}

/* line 81, ../scss/cdmStylesCustom.scss */
.f-dropdown li a {
  color: #434343;
  font-weight: 700;
}

/* line 86, ../scss/cdmStylesCustom.scss */
.navbar-default {
  background-color: #385f8a;
}

/* line 90, ../scss/cdmStylesCustom.scss */
.header-text {
  color: #ffffff;
  font-size: 1.125rem;
}

/* line 95, ../scss/cdmStylesCustom.scss */
.cdm-btn.btn-primary,
.cdm-btn.btn-default:hover {
  background-color: #2178B5;
  color: #ffffff;
}

/* line 101, ../scss/cdmStylesCustom.scss */
.cdm-btn {
  font-size: .75rem;
  font-weight: normal;
}

/* line 107, ../scss/cdmStylesCustom.scss */
.cdm-btn.btn-primary:focus,
.cdm-btn.btn-primary:hover,
.cdm-btn.btn-primary:active,
.cdm-btn.btn-primary:active:focus,
.cdm-btn.btn-primary:active:hover {
  background-color: #cccccc;
  color: #545454;
}

/* line 116, ../scss/cdmStylesCustom.scss */
.headerIconButton:active:hover,
.headerIconButton:active:focus,
.headerIconButton:hover,
.headerIconButton:focus,
.headerIconButton:active:hover a,
.headerIconButton:active:focus a,
.headerIconButton:hover a,
.headerIconButton:focus a,
.open.dropdown > .headerIconButton a,
.open.dropdown > .headerIconButton,
.open > .dropdown-toggle.headerIconButton:focus,
.open > .dropdown-toggle.headerIconButton:hover {
  color: #385f8a;
  background-color: #f5f5f5;
}

/* line 132, ../scss/cdmStylesCustom.scss */
.cdm-footer a:visited {
  color: #2178B5;
}

/* line 136, ../scss/cdmStylesCustom.scss */
.cdm-footer a:hover {
  color: #2178B5;
}

/* line 140, ../scss/cdmStylesCustom.scss */
a.headerIcon,
a.SimpleSearch-headerAdvancedSearchButtonLink:visited,
a.SimpleSearch-headerAdvancedSearchButtonLink {
  color: #f5f5f5;
}

/* line 146, ../scss/cdmStylesCustom.scss */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover,
.cdm-toggle-btn.active,
.cdm-toggle-btn.active:hover,
.cdm-toggle-btn.btn-default:hover,
.cdm-toggle-btn.btn-default:focus {
  color: #ffffff;
  background-color: #2178B5;
}
