/*
standrad logo name
/global/images/depaul-tree-logo-white.png
*/
/*VARIABLES*/
/* line 18, ../scss/cdmStylesCustom.scss */
.Breadcrumbs-breadcrumbs {
  display: flex;
}

/* line 22, ../scss/cdmStylesCustom.scss */
body, html {
  font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  color: #545454;
  font-style: normal;
}

/* line 28, ../scss/cdmStylesCustom.scss */
body,
p,
ul,
ol,
dl,
div {
  font-weight: normal;
  font-size: .75rem;
}

/* line 38, ../scss/cdmStylesCustom.scss */
h1 {
  font-size: 1.125rem;
  font-weight: bold;
  color: #545454;
  font-style: normal;
  text-decoration: none;
}

/* line 46, ../scss/cdmStylesCustom.scss */
h2,
h2 a,
h2 a:hover,
h2 a:visited {
  font-size: 1.0rem;
  font-weight: bold;
  color: #2178B5;
  font-style: normal;
  text-decoration: none;
}

/* line 57, ../scss/cdmStylesCustom.scss */
h3 {
  font-size: 0.875rem;
  font-weight: normal;
  color: #545454;
  font-style: normal;
  text-decoration: none;
}

/* line 66, ../scss/cdmStylesCustom.scss */
a,
a#filter-by-collection-cancel-button {
  font-size: .75rem;
  font-weight: normal;
  color: #2178B5;
  font-style: normal;
  text-decoration: none;
}

/* line 76, ../scss/cdmStylesCustom.scss */
a:hover,
a#filter-by-collection-cancel-button {
  color: #2178B5;
  text-decoration: underline;
}

/* line 82, ../scss/cdmStylesCustom.scss */
a:visited,
a#filter-by-collection-cancel-button {
  color: #609;
}

/* line 87, ../scss/cdmStylesCustom.scss */
.search-clear-query-button {
  color: #cccccc;
}

/* line 91, ../scss/cdmStylesCustom.scss */
.f-dropdown li a {
  color: #545454;
  font-weight: 700;
}

/* line 96, ../scss/cdmStylesCustom.scss */
.navbar-default {
  background-color: #385f8a;
}

/* line 100, ../scss/cdmStylesCustom.scss */
.header-text {
  color: #ffffff;
  font-size: 1.125rem;
}

/* line 105, ../scss/cdmStylesCustom.scss */
.cdm-btn.btn-primary,
.cdm-btn.btn-default:hover {
  background-color: #2178B5;
  color: #ffffff;
}

/* line 111, ../scss/cdmStylesCustom.scss */
.cdm-btn {
  font-size: .75rem;
  font-weight: normal;
}

/* line 117, ../scss/cdmStylesCustom.scss */
.cdm-btn.btn-primary:focus,
.cdm-btn.btn-primary:hover,
.cdm-btn.btn-primary:active,
.cdm-btn.btn-primary:active:focus,
.cdm-btn.btn-primary:active:hover {
  background-color: #cccccc;
  color: #545454;
}

/* line 126, ../scss/cdmStylesCustom.scss */
.headerIconButton:active:hover,
.headerIconButton:active:focus,
.headerIconButton:hover,
.headerIconButton:focus,
.headerIconButton:active:hover a,
.headerIconButton:active:focus a,
.headerIconButton:hover a,
.headerIconButton:focus a,
.open.dropdown > .headerIconButton a,
.open.dropdown > .headerIconButton,
.open > .dropdown-toggle.headerIconButton:focus,
.open > .dropdown-toggle.headerIconButton:hover {
  color: #385f8a;
  background-color: #f5f5f5;
}

/* line 142, ../scss/cdmStylesCustom.scss */
.cdm-footer a:visited {
  color: #2178B5;
}

/* line 146, ../scss/cdmStylesCustom.scss */
.cdm-footer a:hover {
  color: #2178B5;
}

/* line 150, ../scss/cdmStylesCustom.scss */
a.headerIcon,
a.SimpleSearch-headerAdvancedSearchButtonLink:visited,
a.SimpleSearch-headerAdvancedSearchButtonLink {
  color: #f5f5f5;
}

/* line 156, ../scss/cdmStylesCustom.scss */
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > li > a:hover,
.cdm-toggle-btn.active,
.cdm-toggle-btn.active:hover,
.cdm-toggle-btn.btn-default:hover,
.cdm-toggle-btn.btn-default:focus {
  color: #ffffff;
  background-color: #2178B5;
}

/*Add horizontal menu for desktop site -- from OCLC cookbook*/
@media screen and (min-width: 768px) {
  /* line 171, ../scss/cdmStylesCustom.scss */
  .Header-logoImage {
    margin-top: 10px !important;
    height: 80px;
    width: auto;
  }

  /* line 177, ../scss/cdmStylesCustom.scss */
  .Header-controls {
    width: 100%;
    position: static;
  }

  /* line 182, ../scss/cdmStylesCustom.scss */
  .Header-hamburgerHolder {
    float: left;
  }

  /* line 186, ../scss/cdmStylesCustom.scss */
  .Header-hamburgerHolder .btn-group button {
    display: none;
  }

  /* line 190, ../scss/cdmStylesCustom.scss */
  .Header-headerMenuLinks {
    position: static;
    display: flex;
    flex-wrap: nowrap;
    border: none;
    box-shadow: none;
  }

  /* line 198, ../scss/cdmStylesCustom.scss */
  .Header-headerMenuLinks h3 {
    margin: 5px;
  }
}
