
/*VARIABLES*/

$fontFam: 'Helvetica Neue', Arial, Helvetica, Verdana, sans-serif;
$darkGrey: #545454;
$medBlue: #2178B5;
$darkBlue: #385f8a;
$white: #ffffff;
$lightGrey: #cccccc;
$exLightGrey: #f5f5f5;
$purple: #609;

body, html {
	font-family: $fontFam;
	color: $darkGrey;
	font-style: normal;
}

body,
p,
ul,
ol,
dl,
div {
	font-weight: normal;
	font-size: .75rem;
}

h1 {
	font-size: 1.125rem;
	font-weight: bold;
	color: $darkGrey;
	font-style: normal;
	text-decoration: none;
}

h2,
h2 a,
h2 a:hover,
h2 a:visited {
	font-size: 1.0rem;
	font-weight: bold;
	color: $medBlue;
	font-style: normal;
	text-decoration: none;
}

h3 {

	font-size: 0.875rem;
	font-weight: normal;
	color: $darkGrey;
	font-style: normal;
	text-decoration: none;
}

a,
a#filter-by-collection-cancel-button {

	font-size: .75rem;
	font-weight: normal;
	color: $medBlue;
	font-style: normal;
	text-decoration: none;
}

a:hover,
a#filter-by-collection-cancel-button {
	color: $medBlue;
	text-decoration: underline;
}

a:visited,
a#filter-by-collection-cancel-button {
	color: $purple;
}

.search-clear-query-button {
	color: $lightGrey;
}

.f-dropdown li a {
	color: $darkGrey;
	font-weight: 700;
}

.navbar-default {
	background-color: $darkBlue;
}

.header-text {
	color: $white;
	font-size: 1.125rem;
}

.cdm-btn.btn-primary,
.cdm-btn.btn-default:hover {
	background-color: $medBlue;
	color: $white;
}

.cdm-btn {

	font-size: .75rem;
	font-weight: normal;
}

.cdm-btn.btn-primary:focus,
.cdm-btn.btn-primary:hover,
.cdm-btn.btn-primary:active,
.cdm-btn.btn-primary:active:focus,
.cdm-btn.btn-primary:active:hover {
	background-color: $lightGrey;
	color: $darkGrey;
}

.headerIconButton:active:hover,
.headerIconButton:active:focus,
.headerIconButton:hover,
.headerIconButton:focus,
.headerIconButton:active:hover a,
.headerIconButton:active:focus a,
.headerIconButton:hover a,
.headerIconButton:focus a,
.open.dropdown>.headerIconButton a,
.open.dropdown>.headerIconButton,
.open>.dropdown-toggle.headerIconButton:focus,
.open>.dropdown-toggle.headerIconButton:hover {
	color: $darkBlue;
	background-color: $exLightGrey;
}

.cdm-footer a:visited {
	color: $medBlue;
}

.cdm-footer a:hover {
	color: $medBlue;
}

a.headerIcon,
a.SimpleSearch-headerAdvancedSearchButtonLink:visited,
a.SimpleSearch-headerAdvancedSearchButtonLink {
	color: $exLightGrey;
}

.pagination>.active>a,
.pagination>.active>a:hover,
.pagination>li>a:hover,
.cdm-toggle-btn.active,
.cdm-toggle-btn.active:hover,
.cdm-toggle-btn.btn-default:hover,
.cdm-toggle-btn.btn-default:focus {
	color: $white;
	background-color: $medBlue;
}

